<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <script src="vue.js" defer></script>
    <script src="script.js" defer></script>
</head>

<body>
    <div id="app">
        <header class="header">
            <h1 class="header-name">eShop</h1>
            <div class="header-wrp">
                <label for="search">
                    <input type="text" placeholder="searh here" v-model='searchValue' />
                    <button class="search-button" type="button" v-on:click='() => filterGoods(searchValue)'><span
                            class="icon-search">&#xe801</span></button>
                </label>
                <button type="button" class="cart-button">
                    <span class="icon-basket">&#xe800</span>
                    <div class="count" v-if='cartGoods.length>0' v-model='cartGoods'>{{ cartGoods.length }}</div>
                </button>
            </div>

        </header>
        <main>
            <div class="goods-list">
                <h2 v-if="goods.length == 0" style="text-align: center;">{{ 'Список товаров пуст' }}</h2>
                <div class="goods-item" v-for='item in filteredGoods'>
                    <h2>{{ item.product_name }}</h2>
                    <p>{{ item.price }}</p>
                    <button v-on:click='() => addToCart(item)'>Купить</button>
                </div>
            </div>
            <div class="cart-list" v-if='(cartGoods.length>0)'>
                <div class="cart-item" v-for='item in cartGoods'>
                    <h2>{{ item.product_name }}</h2>
                    <p>{{ item.price }}</p>
                    <button v-on:click='() => removeFromCart(item)'>Удалить</button>
                </div>
            </div>
        </main>
    </div>
</body>

</html>